@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif; 
}

body{
    background-color: black;
    color: white;
}


.left{
    width: 25vw;
    padding:7px; 
}

.right{
    width:75vw;
    position: relative;
}


.home ul li{
    width:14px;
    list-style:none;
    display: flex;
    gap:15px;
    padding-top:14px;
    font-weight: bold;
}

.heading{
    display:flex;
    gap:15px;
    width:100%;
    padding-top: 14px;
    font-weight: bold;
    align-items:center;
    padding: 23px 14px;
    font-size:0.75rem;
}
.library{
    min-height: 80vh;
    position:relative;
}
.footer{
    display:flex;
    font-size:10px;
    gap:13px;
    position: absolute;
    bottom: 0;
    padding:10px 0;
}

.footer a{
    color:grey;
    padding:5px;
}
.right{
    margin:12px 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34,34,34);
}

.header >*{
    padding:20px;
}

.spotifyPlaylists{
    padding: 13px;
}

.card{
    width:160px;
    padding:10px;
    border-radius: 5px;
    background-color: #252525;
    position :relative;

}

.cardContainer{
    display: flex;
    gap:10px;
    flex-wrap:wrap;
    margin:30px;
    overflow-y: scroll;
    max-height: 70vh;
}
.card > *{
    padding-top:10px;
}
.card img{
    width:100%;
    object-fit: contain;

}
h2{
    font-size: 20px;
}
p{
    font-size: small;
}

.play{
    width: 30px;
    height: 30px;
    background-color: #1fdf64;
    border-radius: 50%;
    border: 2px solid #000;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 210px;
    right: 13px;
    opacity: 0;

}

.buttons > *{
    margin: 0 12px;
}

.Signupbtn{
    /* font-style: bold; */
    background-color:rgb(34,34,34); ;
    color: rgb(156,148,148);
    font-weight: bold;
    border:none;
    outline:none;
    cursor: pointer;
    font-size:16px;
}

.Signupbtn:hover {
    font-size: 17px;
    color: white;

}

.Loginbtn{
    background-color: white;
    border-radius:19px;
    color:black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size:16px;
}

.Loginbtn:hover{
    font-weight:bold;
    font-size: 17px;
}

.playbar{
    bottom:0;
    position:absolute;
    background-color: rgb(139,293,139);
    width: 100%;
    padding:12px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.songList ul{
    padding: 0 42px;
}

.songList li{
    list-style-type: decimal;
    display:flex;
    gap: 34px;
    cursor:pointer;
    padding: 12px 0;
}